.SideBar {
    position: absolute;
    z-index: 2;
    left: -150px;
    height: 100%;
    width: 150px;
    transition: left 0.3s ease-in-out;
    background-color :rgb(85, 81, 97);
  }

.SideBar.Open {
    left: 0;
}
.content.Open {
    left: 150px;
}

