.Headline {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    color: white;
    text-align: center;
  }

  

.Logo
{
  font-size: calc(10px + 2vmin);
  margin-bottom: 0.5%;
}

.SideIcon
{
  margin : 8px,
}