.Headline {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }

  

.Logo
{
  font-size: calc(10px + 2vmin);
  margin-bottom: 0.5%;

}