.MainPage
{
    display: grid;
    /* grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(10, 60px); */
    
    justify-content: center;
    min-height: 100vh;
    background-color: #282c34;
    outline: #865050;
    outline-width:  2mm;
    outline-style :outset;
    /* 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white; */
}
/*https://caddyspoon.github.io/posts/2022/10/1003_react_style/*/

.items {
    margin: 10px;
    background-color: #797682;
}